.row{
    min-height: 30vh;
}

#card-items{
    min-height: 100%;
    max-width: 100%;

}
#card-items .card-info{
  border: 4px solid #000;
  border-radius: 20px;
  font-weight: lighter;
  background-color: #dc3545;
  padding:10px;

}


ul li{
  list-style-type: none;
  font-size: small;
}



